@import url("https://fonts.cdnfonts.com/css/leoscar");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #211e1d;
  --secondary: #b50094;

  font-family: "Leoscar", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
          THIS CODE WROTE CHATGPT BTW BECAUSE I DONT LIKE GRADIENTS IN PLAIN CSS
          
  NOTE 24.02.2025: HALF OF THIS CODE WRITE CHATGPT SECOND HALF ME
*/

@layer utilities {
  .text-stroke-gradient {
    -webkit-text-stroke: 3px transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right top, #8e2de2, #ff0080, #ff4b2b);
  }

  .transition-cubic {
    transition: width 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  @keyframes expand {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes disappearance {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  .animate-disappearance {
    content: "";
    animation: disappearance 0.9s ease-out forwards;
    animation-delay: 1.6s;
  }

  .animate-expand {
    animation: expand 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}

.custom-hover button:hover {
  transform: scale(1.2);
  transition: transform 0.125s ease-in-out;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
